/**
 * This is a mini profile extended web application which is all about Md Mamunur Rahman 
 * 
 * @FileName: app.css
 * @Author Md Mamunur Rahman
 * @student ID: 300872772
 * @Last Update 04-August-2016
 * @website: http://mamun-miniportfolio-extended.azurewebsites.net
 * @description: this file is main CSS file for the website
 */

/*body decoration*/
body {
    padding-top: 50px;
    overflow: hidden;
   background-color:    #eff5f5;
}
/*logo decoration*/
.logo {
    float: left;
    height: 80%;
    opacity: 0.99;
    filter: alpha(opacity=99);
  
}

.logo:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.animateLogo
{
    margin: auto;
    padding-top: 50px;
    height: 90px;   
    -webkit-animation-name: logo1;
    -webkit-animation-duration: 4s; 
    animation-name: logo1;
    animation-duration: 4s;
}
.animateLogo:hover
{
    -webkit-animation-name: logo1;
    -webkit-animation-duration: 4s; 
    animation-name: logo1;
    animation-duration: 4s;
}
/*@-webkit-keyframes logo1 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}*/

/* Annimation 
@keyframes logo1 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}*/
/*nav bar brand decoration*/
.allabout{
 font-size: 35px;  
   text-shadow:  3px 3px black;
}
/*Righside Accordian decoration*/
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;

}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
    background-color: #009999;
    background-image:-webkit-linear-gradient(top,black 0,#009999 100%);

}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;

}
#sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;

}

.list-group-item
{
  background-image:-webkit-linear-gradient(top,#009999 0,black 100%);

}

.list-group-item:hover 
{
  background-image:-webkit-linear-gradient(top,#229999 0,black 100%);
  
}


.list-group-item-success
{
    
    background-image:-webkit-linear-gradient(top,#ff3c3c 0,#222 100%);

}


.list-group-item-success:hover 
{ 
    
    background-image:-webkit-linear-gradient(top,#ff4c3c 0,#ff5c3c  100%);

  
}


.list-group  > a:hover
{
    color: cyan;
    text-shadow: 2px 2px black;
}

.list-group  > a:active
{
    color: black;
    text-shadow: 2px 2px #ff4c3c;
}
.collapse >a
{
    
    color: white;
}
.collapse  > a:hover
{
    color: white;
     font-weight: bold;
     
}
.collapse  > a:active
{
    color: white;
     text-shadow: 1px 1px black;
}
/*page header decoration*/
.page-header
{
    margin-top: 0px;
    
}

/*biography image decoration*/
.mamunImage
{
    width:80%;height:90%;
    padding: 5px 5px 5px 5px;
    
    
}
/*text container of pages decoration*/
.photobook {
	margin-left: 10px;
	float: left;
	width: 98%;
	height:100%;
	padding-top:0px;
    background-color: rgb(150, 153, 204);
    font-family: Tahoma;
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,gray), color-stop(100%,lightgray));
    background: linear-gradient(to left, gray,  lightgray);
    border-radius: 20px;
    overflow: hidden;
 	opacity: 0.*7;
    filter: alpha(opacity=70);
    
    color: black;
     text-shadow: 1px 1px  #ccffff;
     padding-left: 30px;
	 
}
.photobook1 {
	margin-left: 10px;
	float: left;
	width: 98%;
	height:100%;
	padding-top:0px;
    background-color: rgb(150, 153, 204);
    font-family: Tahoma;
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,#229999), color-stop(100%, cadetblue));
    background: linear-gradient(to left,  #229999,   cadetblue);
    border-radius: 20px;
    overflow: hidden;
 	opacity: 0.*7;
    filter: alpha(opacity=70);
    color: black;
     padding-left: 30px;
	
}
.containerDecoration
{
    margin-left: 2px;
	float: left;
	width: 98%;
	height:100%;
	padding-top:10px;
    padding-left: 30px;
    padding-bottom: 10px; 
    padding-right: 30px;
    background-color: rgb(150, 153, 204);
    font-family: Tahoma;
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,gray), color-stop(100%,lightgray));
    background: linear-gradient(to left, gray,  lightgray);
    border-radius: 20px;
    overflow: hidden;
 	opacity: 0.*7;
    filter: alpha(opacity=70);
    
    color:  black;

}
/*logo decoration*/
.carousel-inner
{
    
    border-style: solid;
    border-color:   crimson  brown;
}
.col-md-12
{
padding-left: 0px;
margin-left: 0px;

}
.col-md-10
{
    float: right;
}
.col-xs-7
{
    float: left;
}



label #inp{       
    
    display: inline-block;

    vertical-align: auto;
    float:left;
    }


/**
*Code for smaller screen

@media (max-width: 990px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
  		border-right:0;
        
	}
    
}*/

@media screen and (max-width: 768px) {
    h1, h2{
        font-size:13px;
    }
    p{
        font-size:11px;
       
    }

 #MainMenu, #footer, .footer, .animateLogo
   {
        visibility: hidden;
       position: absolute;
        z-index: 12;
        top: 0;
        left: 0;
   }



/*navebar-brand or Application heading for smaller screen*/
.allabout{
 font-size: 20px;  
   text-shadow:  3px 3px black;
}
    
}

.carousel-indicators li
{
    background-color:red;
}
.carousel-indicators .active
{
    background-color:  #229999;
}
.glyphicon 
{
   color:  #004d4d;
}

@media (max-width: 990px) {
    body {
        padding-top: 0px;
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 768px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 990px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 2px;
  		border-right:0;
          visibility: hidden;
	}
    
}
@media (max-width: 990px) {
    .mamunImage{
    height:140px;
    width:140px;
}

.photobook {

	width: 100%;
	height:100%;
    
}
.photobook1 {
padding-left: 0px;
    
}
}

  .footer {
    background-color:#ffffff;
	bottom:0;
  	position:fixed;
    padding:10px;

}  

